/* Navbar Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #100f0f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* background-color: black; Navbar background */
}

/* Brand Name */
.ravindu {
  color: rgb(52, 235, 235);
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

/* Menu Items */
.other {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  font-size: small;
}

.other li a {
  text-decoration: none;
  color: rgb(52, 235, 235);
  font-size: 18px;
  transition: color 0.3s;
}

.other li a:hover {
  color: #ddd;
}

/* Menu Icon */
.menu-icon {
  display: none;
  font-size: 25px;
  color: rgb(52, 235, 235);
  cursor: pointer;
}

/* Responsive Menu Styles */
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .other {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px; /* Adjusted based on navbar height */
    left: 0;
    right: 0;
    background-color: #100f0f;
    padding: 20px 0;
    z-index: 1;
    font-size: 20px;
     /* Ensure it stays above other elements */
  }

  .other.open {
    display: flex; /* Show the menu when open */
  }
}
